<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create distributor</title>
</head>
<body>
<form th:method="POST" th:action="@{/distributors}" th:object="${distributor}">
    <label for="name">Enter distributor name: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <br/>

    <label for="contact">Enter distributor contact: </label>
    <input type="text" th:field="*{contact}" id="contact"/>
    <br/>

    <input type="submit" value="Create!"/>
</form>
</body>
</html>